<td><a>{{document.reference}}</a></td>

<td ng-class="{'label-success': isRedacted(document), 'label-danger': !isRedacted(document)}">
  {{document.redacteur.prenom}} {{document.redacteur.nom}} <input type="checkbox" ng-click="redact(document)" ng-model="redactionChecked"/>
</td>

<td ng-class="{'label-success': isVerificated(document), 'label-danger': !isVerificated(document)}">
  {{document.verificateur.prenom}} {{document.verificateur.nom}} <input type="checkbox" ng-click="verify(document)" ng-model="verificationChecked"/>
</td>

<td ng-class="{'label-success': isValidated(document), 'label-danger': !isValidated(document)}">
  {{document.validateur.prenom}} {{document.validateur.nom}} <input type="checkbox" ng-click="validate(document)" ng-model="validationChecked"/>
</td>

<td><span class="label" ng-class="{'label-success': isApproved(document), 'label-danger': !isApproved(document)}">
  <span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-ok': isApproved(document), 'glyphicon-remove': !isApproved(document)}"></span>
</span></td>

<td><span class="label" ng-class="{'label-success': isSpreaded(document), 'label-danger': !isSpreaded(document)}">
  <span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-ok': isSpreaded(document), 'glyphicon-remove': !isSpreaded(document)}"></span>
</span></td>

<td><span class="label" ng-class="{'label-success': isArchived(document), 'label-danger': !isArchived(document)}">
  <span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-ok': isArchived(document), 'glyphicon-remove': !isArchived(document)}"></span>
</span></td>

<td><a class="glyphicon glyphicon-remove"></a> <a class="glyphicon glyphicon-pencil"></a></td>
