<div ng-controller="DocumentsCtrl">

<h1>Documents</h1>
<uib-tabset>
  <uib-tab heading="Consulter les documents">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Réference</th>
          <th>Rédaction</th>
          <th>Vérification</th>
          <th>Validation</th>
          <th>Approbation</th>
          <th>Diffusion</th>
          <th>Archivage</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="document in documents" pg-document-line document="document"></tr>
      </tbody>
    </table>
  </uib-tab>
  
  <uib-tab heading="Ajouter un document">
    <pg-add-document parties-interessees="partiesInteressees" referentiels="referentiels" types-documents="typesDocuments"></pg-add-document>
  </uib-tab>

  <uib-tab heading="Créer un type de document">
    <form class="simple-form">
      <label>Type de document</label><input type="text" ng-model="type.nom" required/><br/>
      
      <label>Approbation nécessaire ?
        <input type="checkbox" ng-model="type.approbation"/>
      </label> <br/>
      <label>Diffusion nécessaire ?
        <input type="checkbox" ng-model="type.diffusion"/>
      </label> <br/>
      <input type="submit" ng-click="createType()" value="Créer"/>
    </form>
    <pre>{{type | json }}</pre>
  </uib-tab>

  <uib-tab heading="Créer un référentiel">
    <form class="simple-form">
      <label>Nom du référentiel</label><input type="text" ng-model="referentiel.nom" required/><br/>
     
      <input type="submit" ng-click="createReferentiel()" value="Créer"/>
    </form>
    <pre>{{referentiel | json }}</pre>
  </uib-tab>
</uib-tabset>
<button ng-click="test()" value="test">Test</button>
</div>
