<div ng-controller="DocumentsCtrl">

<h1>Documents</h1>
<uib-tabset>


  <uib-tab heading="Ajouter un document">
    <form class="simple-form">
      <label>Reference</label><input type="text" ng-model="document.reference"/><br/>
      <label>Referentiel</label>
      <select ng-model="document.referentiel" ng-init="referentiels=[{nom:'Qualité'}, {nom:'Développement'}, {nom:'Spécifications'}]" ng-options="referentiel.nom for referentiel in referentiels">
      </select><br/>
      <label>Type de document</label>
      <select ng-model="document.type" ng-init="types=[{nom: 'CRTP', approbation: false, diffusion: false}, {nom: 'CRC', approbation: true, diffusion: false}]" ng-options="type.nom for type in types">
      </select><br/>
      <label>Rédacteur</label>
      <select>
        <option value="alexandre">Alexandre Emion</option>
        <option value="autre">Autre étudiant</option>
      </select><br/>
      <label>Vérificateur</label>
      <select>
        <option value="alexandre">Alexandre Emion</option>
        <option value="autre">Autre étudiant</option>
      </select><br/>
      <label>Validateur</label>
      <select>
        <option value="alexandre">Alexandre Emion</option>
        <option value="autre">Autre étudiant</option>
      </select><br/>
    </form>
    <p>{{document}}</p>
  </uib-tab>
  
  <uib-tab heading="Consulter les documents">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Réference</th>
          <th>Rédaction</th>
          <th>Vérification</th>
          <th>Validation</th>
          <th>Approbation</th>
          <th>Diffusion</th>
          <th>Archivage</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="document in documents" pg-document-line document="document"></tr>
      </tbody>
    </table>
  </uib-tab>
  
  <uib-tab heading="Créer un type de document">Création de type de document</uib-tab>
  <uib-tab heading="Créer un réferentiel">Création de référentiel</uib-tab>

</uib-tabset>
</div>